.iconList {
    display: flex;
    justify-content: start;
    padding: 10px;
}

.icon {
    margin: 10px;
}

.iconList .icon img {
    width: 35px;
}

.reference {
    padding: 10px;
    font-size: 12px;
}